.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formInput{
    width: 80%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    
}

.input_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    color: rgb(185, 184, 184);
    font-size: 15px;
    /* align-self: flex-start; */
    margin-left: 1rem;
    
}

.error_message{
    color: red;
    font-size: 1rem;
    align-self: flex-start;
    margin-left: 1.5rem;
}

.input_wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  