.container{
    width: full;
    height: 100px;
    background-color: white;
    margin-top: 5rem;
    padding: 0 20px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: black;
    line-height: 35px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.icons{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    font-size: 20px;
}