
.container{
    width: full;
    min-height: 100vh;
    border: 1px solid white;
    display: flex;
    padding: 2rem 5rem;
}


.coinWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.coinWrapper input{
    width: 20rem;
    height: 1rem;
}

.coinWrapper h1{
    color: white;
    font-family: 'jost', sans-serif;
}



.coinHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 20rem;
}

/* .coinBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 10rem);
    color : white;
} */

/* .coinTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    color: white;
    min-width: 25rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} */

.coinTable thead tr{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    font-weight: 600;
}

.coinTable th, 
.coinTable td{
    padding: 20px 100px;
}


.coinTable tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    color: black;
}

.coinTable tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.coinTable tbody tr.active_row{
    font-weight: 600;
    color: #009879;
}

.empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty_text {
    color: white;
}